# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Release/Minigin.pdb
x64/Debug/Minigin.pdb
x64/Debug/Minigin.idb
x64/Debug/Burgertime.pdb
Win32/Release/Minigin.pdb
Win32/Debug/Minigin.pdb
Win32/Debug/Minigin.idb
Minigin/x64/Release/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Release/Minigin.tlog/Lib.command.1.tlog
Minigin/x64/Release/Minigin.tlog/Lib-link.write.1.tlog
Minigin/x64/Release/Minigin.tlog/Lib-link.read.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Release/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Release/Minigin.log
Minigin/x64/Release/Minigin.lib.recipe
Minigin/x64/Debug/Minigin.vcxproj.FileListAbsolute.txt
Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.tlog/Lib.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/Lib-link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/Lib-link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.log
Minigin/x64/Debug/Minigin.lib.recipe
Minigin/x64/Debug/Minigin.Build.CppClean.log
Minigin/Win32/Release/Minigin.tlog/Minigin.lastbuildstate
Minigin/Win32/Release/Minigin.tlog/Lib.command.1.tlog
Minigin/Win32/Release/Minigin.tlog/Lib-link.write.1.tlog
Minigin/Win32/Release/Minigin.tlog/Lib-link.read.1.tlog
Minigin/Win32/Release/Minigin.tlog/CL.write.1.tlog
Minigin/Win32/Release/Minigin.tlog/CL.read.1.tlog
Minigin/Win32/Release/Minigin.log
Minigin/Win32/Release/Minigin.lib.recipe
Minigin/Win32/Debug/Minigin.vcxproj.FileListAbsolute.txt
Minigin/Win32/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/Win32/Debug/Minigin.tlog/Lib.command.1.tlog
Minigin/Win32/Debug/Minigin.tlog/Lib-link.write.1.tlog
Minigin/Win32/Debug/Minigin.tlog/Lib-link.read.1.tlog
Minigin/Win32/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/Win32/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/Win32/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/Win32/Debug/Minigin.log
Minigin/Win32/Debug/Minigin.lib.recipe
Minigin/Win32/Debug/Minigin.Build.CppClean.log
Burgertime/x64/Release/vc143.pdb
Burgertime/x64/Release/Burgertime.tlog/unsuccessfulbuild
Burgertime/x64/Release/Burgertime.tlog/link.write.1.tlog
Burgertime/x64/Release/Burgertime.tlog/link.read.1.tlog
Burgertime/x64/Release/Burgertime.tlog/link.command.1.tlog
Burgertime/x64/Release/Burgertime.tlog/CL.write.1.tlog
Burgertime/x64/Release/Burgertime.tlog/CL.read.1.tlog
Burgertime/x64/Release/Burgertime.tlog/CL.command.1.tlog
Burgertime/x64/Release/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/x64/Release/Burgertime.log
Burgertime/x64/Debug/vc143.pdb
Burgertime/x64/Debug/vc143.idb
Burgertime/x64/Debug/Burgertime.vcxproj.FileListAbsolute.txt
Burgertime/x64/Debug/Burgertime.tlog/link.write.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/link.read.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/link.command.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/CL.write.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/CL.read.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/CL.command.1.tlog
Burgertime/x64/Debug/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/x64/Debug/Burgertime.log
Burgertime/x64/Debug/Burgertime.ilk
Burgertime/x64/Debug/Burgertime.exe.recipe
Burgertime/x64/Debug/Burgertime.Build.CppClean.log
Burgertime/Release/vc143.pdb
Burgertime/Release/Burgertime.tlog/unsuccessfulbuild
Burgertime/Release/Burgertime.tlog/CL.write.1.tlog
Burgertime/Release/Burgertime.tlog/CL.read.1.tlog
Burgertime/Release/Burgertime.tlog/CL.command.1.tlog
Burgertime/Release/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/Release/Burgertime.log
Burgertime/Debug/vc143.pdb
Burgertime/Debug/vc143.idb
Burgertime/Debug/Burgertime.vcxproj.FileListAbsolute.txt
Burgertime/Debug/Burgertime.tlog/unsuccessfulbuild
Burgertime/Debug/Burgertime.tlog/link.write.1.tlog
Burgertime/Debug/Burgertime.tlog/link.read.1.tlog
Burgertime/Debug/Burgertime.tlog/link.command.1.tlog
Burgertime/Debug/Burgertime.tlog/link-rc.write.1.tlog
Burgertime/Debug/Burgertime.tlog/link-rc.read.1.tlog
Burgertime/Debug/Burgertime.tlog/link-cvtres.write.1.tlog
Burgertime/Debug/Burgertime.tlog/link-cvtres.read.1.tlog
Burgertime/Debug/Burgertime.tlog/CL.write.1.tlog
Burgertime/Debug/Burgertime.tlog/CL.read.1.tlog
Burgertime/Debug/Burgertime.tlog/CL.command.1.tlog
Burgertime/Debug/Burgertime.tlog/Burgertime.lastbuildstate
Burgertime/Debug/Burgertime.log
Burgertime/Debug/Burgertime.Build.CppClean.log
.vs/Minigin/v17/Solution.VC.db-wal
.vs/Minigin/v17/Solution.VC.db-shm
.vs/Minigin/v17/Solution.VC.db
.vs/Minigin/v17/ipch/be9c30c2fa57395d.ipch
.vs/Minigin/v17/ipch/b67e269086c3d66d.ipch
.vs/Minigin/v17/Browse.VC.opendb
.vs/Minigin/v17/Browse.VC.db-wal
.vs/Minigin/v17/Browse.VC.db-shm
.vs/Minigin/v17/Browse.VC.db
.vs/Minigin/v17/.suo
.vs/Minigin/v17/fileList.bin
.vs/Minigin/project-colors.json
.vs/Minigin/v17/HierarchyCache.v1.txt
